@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

#index-body {
  font-family: "Gloria Hallelujah", cursive;
  background-image: url("/assets/img/background/tri-color-diamond-glass-background-618226_1280.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
