/*Import desired fonts*/
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

/*Convention: overwritting (i.e. reseting) these stylings, just in case.*/
* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* ***START: Styling of the index.html*** */

/*Set the html to take up 100% of the browser height*/
html {
  height: 100%;
}

/*Styling the index.html body container: font and background image*/
#index-body {
  font-family: "Gloria Hallelujah", cursive;
  background-image: url("/assets/img/background/tri-color-diamond-glass-background-618226_1280.png");
  height: 100%; /*Set the height to be 100% of the parent container, which is html, whose height is set to 100% of the browser*/
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

/*Styling the "landing page" (div that's inside the index.html's body)*/
#landing-page {
  text-align: center;
  padding-top: 2em;
}

h1 {
  font-family: "Rock Salt", cursive;
}

p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

/*Start: Making the list elements display side by side.*/
#table {
  display: table;
  margin: 0 auto;
}

#table li {
  display: inline;
  font-weight: bold;
  font-size: 1.2em;
}
/*End: Making the list elements display side by side.*/

.fa-paw {
  padding-right: 1em;
  padding-left: 1em;
}

/*These combinations of selectors used to targer the second (right) paw icon of the first (left) grid link,
and the first (left) paw icon of the second (right) grid link, specifically, without tageting all four of the paw icons*/
a[href="3x4_grid.html"] > .fa-paw:nth-child(2) {
  padding-right: 5em;
}

a[href="3x6_grid.html"] > .fa-paw:nth-child(1) {
  padding-left: 5em;
}

/*Styling the links' possible "states" using pseudo-classes*/
a:link,
a:visited,
a:active {
  color: black;
}

a:hover {
  color: blue;
  cursor: url("/assets/img/rest/cat-paw-black(20x19).png"), pointer;
}

/* ***END: Styling of the index.html*** */


/* ***START: Styling of the 3x4_grid.html & the 3x6_grid.html*** */

#threebysix-grid-body {
  display: flex; /*Setting display to "flex" comes with a set of connected default properties, one of which (flex-wrap) is to be altered below: https://flexbox.help/*/
  background-image: url("/assets/img/background/pattern-4008915_1280.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

#threebyfour-grid-body {
  display: flex; /*Setting display to "flex" comes with a set of connected default properties, one of which (flex-wrap) is to be altered below: https://flexbox.help/*/
  background-image: url("/assets/img/background/pattern-3296033_1280.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

#threebysix-grid-body .board {
  width: 800px;
  height: 540px;
  display: flex; /*Setting display to "flex" comes with a set of connected default properties, one of which (flex-wrap) is to be altered below: https://flexbox.help/*/
  flex-wrap: wrap; /*If selecting "display: flex", "flex-wrap" is set by default to "nowrap": https://flexbox.help/*/
  margin: auto;
  perspective: 1000px;
}

#threebyfour-grid-body .board {
  width: 640px;
  height: 540px;
  display: flex; /*Setting display to "flex" comes with a set of connected default properties, one of which (flex-wrap) is to be altered below: https://flexbox.help/*/
  flex-wrap: wrap; /*If selecting "display: flex", "flex-wrap" is set by default to "nowrap": https://flexbox.help/*/
  margin: auto;
  perspective: 1000px;
}

.tile {
  width: calc(16.666% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

#threebyfour-grid-body .tile {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
}

.tile-front,
.tile-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
}

#threebysix-grid-body .tile-back {
  background:  #D68717;
}

#threebyfour-grid-body .tile-back {
  background: #2d3f81;
}

.tile-front {
  transform: rotateY(180deg);
  background: #f0ead6;
}

.tile:active {
  transform: scale(.95);
  transition: transform .2s;
}

.tile.flipped {
  transform: rotateY(180deg);
}

/* ***END: Styling of the 3x4_grid.html & the 3x6_grid.html*** */