/*Import desired fonts*/
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

/*Convention: overwritting (i.e. reseting) these stylings, just in case.*/
* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/*Set the html to take up 100% of the browser height*/
html {
  height: 100%;
}

/*Styling the index.html body container: font and background image*/
#index-body {
  font-family: "Gloria Hallelujah", cursive;
  background-image: url("/assets/img/background/tri-color-diamond-glass-background-618226_1280.png");
  height: 100%; /*Set the height to be 100% of the parent container, which is html, whose height is set to 100% of the browser*/
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

/*Styling the "landing page" (div that's inside the index.html's body)*/
#landing-page {
  text-align: center;
  padding-top: 2em;
}

h1 {
  font-family: "Rock Salt", cursive;
}

p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

#table {
  display: table;
  margin: 0 auto;
}

#table li {
  display: inline;
  font-weight: bold;
  font-size: 1.2em;
}

.fa-paw {
  padding-right: 1em;
  padding-left: 1em;
}

a[href = "3x4_grid.html"] > .fa-paw:nth-child(2) {
  padding-right: 5em;
}

a[href = "3x6_grid.html"] > .fa-paw:nth-child(1) {
  padding-left: 5em;
}

a:link,
a:visited,
a:active {
  color: black;
}

a:hover {
  color: blue;
  cursor: url("/assets/img/rest/cat-paw-black(20x19).png"), pointer;
}
